.admin_container{
    width: 100%;

}
.navbar{
    width: 100%;
    height: 5rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
}
.navbar .logo{
    /* border: 1px solid blue; */
    width: 20%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.logo .logoName{

    font-size: 30px;
    font-family: sans-serif;
    color: rgb(18, 18, 134);
    font-weight: bold;
}
.search{
    margin-left: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    
    align-items: center;
}
.search .left{
    display: flex;
    gap: 20px;
    /* border: 1px solid red; */
}

.search .right{
    display: flex;
    gap: 20px;
}
.admin_main{
    width: 100%;
    background: aliceblue;
}

.drawer {
    position: fixed;
    top: 13.5%;
    left: 0;
    height: 86vh;
    width: 350px; 
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .drawer.open {
    transform: translateX(0);
    padding-top:2rem ;
  }


  .single_menu{
    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
   
   /* border: 1px solid red; */
    cursor: pointer;

  }
.single_menu:hover{
    background: aliceblue;
}
.single_menu div{
padding-left: 1rem;
display: flex;
gap: 30px;
}
.down_arrow{
    /* border: 1px solid green; */
   margin-right: 1rem;
}